In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
dim=2
n=1000
sigma_y=0.2

In [3]:
def x_to_y(x):
    return np.sin(16*x[:,0])

In [4]:
def generate_data(n,dim,x_to_y,sigma_y):
    x = np.random.randn(n,dim)
    w = x.copy()
    w[:,0] = w[:,0]+np.random.laplace(size=n)
    y=x_to_y(x)
    yy=y+np.random.normal(size=n)*sigma_y
    return x,w,y,yy

In [5]:
x,w,y,yy=generate_data(n,dim,x_to_y,sigma_y)

In [6]:
x1=x[:,0]
x2=x[:,1]

In [7]:
simu.head()

         x1        x2        w1        w2         y  actual_y
0 -0.679571  0.411601  4.138744  0.411601  0.893177  0.992513
1  0.800995  1.149262  2.596147  1.149262  0.274279  0.246966
2 -2.248309  0.298548 -1.717427  0.298548  0.885607  0.987953
3  0.914092  0.078746 -0.043196  0.078746  0.830517  0.883127
4 -1.276116  1.584225 -0.681987  1.584225 -1.305152 -0.999997

In [8]:
simu.to_excel('simu_test.xlsx',index=False)